*.cache
*.pdb
bin/
Debug/
obj/
xs/
Super Duper Magento Dev.sql
*.couch
*.couch
dbdata/_dbs.couch
dbdata/shards/00000000-7fffffff/magentotaxsynchronizationmultichannelordermanagertaxratecachecouchdbentries.1697727304.couch
dbdata/shards/80000000-ffffffff/magentotaxsynchronizationmultichannelordermanagertaxratecachecouchdbentries.1697727304.couch
Athi.Web.Applications.WebbDash.Crowen/Controllers/Oswald/Integrations/Adobe/Magento/CrowenOswaldMagentoController.cs
Athi.Web.Applications.WebbDash.Crowen/Models/Oswald/Integrations/Adobe/Magento/MagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheCouchDBEntrySubmissionViewModel.cs
Athi.Web.Applications.WebbDash.Crowen/Models/Oswald/Integrations/Adobe/Magento/MagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheCouchDBEntryViewModel.cs
Athi.Web.Applications.WebbDash.Crowen/Program.cs
Athi.Web.Applications.WebbDash.Crowen/ResourceFiles/ResourceIndex.cs
Athi.Web.Applications.WebbDash.Crowen/ResourceFiles/Athi.Web.Applications.WebbDash.Crowen.xml
Athi.Web.Applications.WebbDash.Crowen/Athi.Web.Applications.WebbDash.Crowen.csproj
Athi.Web.Applications.WebbDash.Crowen/Views/Crowen/Oswald/Synchronization/Adobe/Magento/OswaldSynchronization_Magento_SalesTaxMom.cshtml
Whippet.Data/Database/NoSQL/Apache/CouchDB/Models/WhippetCouchDocumentModel.cs
Whippet.Data/Whippet.Data.csproj
Whippet.FreestyleSolutions.MOM/Json/MultichannelOrderManagerCountryCreationConverter.cs
Whippet.FreestyleSolutions.MOM/Json/MultichannelOrderManagerCountyCreationConverter.cs
Whippet.FreestyleSolutions.MOM/Json/MultichannelOrderManagerPostalCodeCreationConverter.cs
Whippet.FreestyleSolutions.MOM/Json/MultichannelOrderManagerRestEndpointCreationConverter.cs
Whippet.FreestyleSolutions.MOM/Json/MultichannelOrderManagerServerCreationConverter.cs
Whippet.FreestyleSolutions.MOM/Json/MultichannelOrderManagerStateProvinceCreationConverter.cs
Whippet.FreestyleSolutions.MOM/Json/MultichannelOrderManagerWarehouseCreationConverter.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes.Jobs/MultichannelOrderManagerMagentoTaxSynchronizationJob.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes.Repositories/Cache/MagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheCouchDBEntryRepository.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes.Repositories/Cache/MagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheEntryRepository.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes.ServiceManagers.Commands/Cache/DeleteAllMagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheCouchDBEntriesCommand.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes.ServiceManagers.Commands/Cache/DeleteAllMagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheEntriesCommand.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes.ServiceManagers.Handlers/Commands/Cache/DeleteAllMagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheCouchDBEntriesCommandHandler.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes.ServiceManagers/Cache/MagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheCouchDBEntryServiceManager.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes.ServiceManagers/Cache/MagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheEntryServiceManager.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes.ServiceManagers/Cache/MagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheServiceManager.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes.ServiceManagers/MagentoTaxSynchronizationServiceManager.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes/Cache/Json/Newtonsoft/MagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheEntryCreationConverter.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes/Cache/Models/MagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheEntryModel.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes/Cache/Repositories/IMagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheCouchDBEntryRepository.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes/EntityMappings/Cache/MagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheEntryMap.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes/EntityMappings/Cache/MagentoTaxSynchronizationMultichannelOrderManagerTaxRateCacheMap.cs
Whippet.Oswald.Integrations.Adobe.Magento.Taxes/FluentEntityMapper.cs
